[features]
resolution = true
skip-lint = false

[programs.localnet]
waveswap_swap_registry = "SwapRegistry111111111111111111111111111"
wave_stake = "5fJF7FV29wZG6Azg1GLesEQVnGFdWHkFiauBaLCkqFZJ"

[programs.devnet]
waveswap_swap_registry = "SwapRegistry111111111111111111111111111"
wave_stake = "5fJF7FV29wZG6Azg1GLesEQVnGFdWHkFiauBaLCkqFZJ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"